<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="googlemaps.subgurim.net" value="AIzaSyCJ6LqMv1zV5Z_-wrETyen4ltCfMubiCzI"/>
    <add key="pathTrasfSMS" value="D:\Looigi\VB.Net\Miei\WEB\Webservices\trasfSMS\DB\"/>
  </appSettings>
  <connectionStrings>
    <add name="MDBConnectionString" providerName="Microsoft.Jet.OLEDB.4.0" connectionString="Data Source=***\App_Data\DB\Passaggio.mdb;Persist Security Info=False"/>
    <add name="SQLConnectionStringLOCALEOrari" providerName="SQLNCLI11.1" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=;Initial Catalog=Orari;Data Source=(local);Initial File Name=;Server SPN="/>
    <add name="SQLConnectionStringLOCALEStatistiche" providerName="SQLNCLI11.1" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=;Initial Catalog=Posizioni;Data Source=(local);Initial File Name=;Server SPN="/>
    <add name="SQLConnectionStringWEB" providerName="SQLOLEDB" connectionString="Data Source=62.149.153.32;Initial Catalog=MSSql97452;User ID=MSSql97452;Password=l2s26rgsob;Connect Timeout=0;Encrypt=False;Packet Size=4096;"/>
  </connectionStrings>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="2097151" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" executionTimeout="32000"/>
    <!-- 
            Opzioni di Visual Basic:
            Impostare strict="true" per impedire qualsiasi conversione di tipi di dati 
            in caso di possibile perdita di dati. 
            Impostare explicit="true" per imporre la dichiarazione di tutte le variabili.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <!--
      La sezione <authentication> consente di configurare 
      la modalità di autenticazione della sicurezza utilizzata da 
      ASP.NET per identificare un utente in ingresso. 
    -->
    <authentication mode="Windows"/>
    <!--
       La sezione <customErrors> consente di configurare 
       l'operazione da eseguire in caso di errore non gestito 
       durante l'esecuzione di una richiesta. In particolare, 
       consente agli sviluppatori di configurare le pagine di errore HTML 
       in modo che vengano visualizzate al posto della traccia dello stack dell'errore.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GlobalWeatherSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="GlobalWeatherSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="GlobalWeatherSoap121">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.net/globalweather.asmx" binding="basicHttpBinding" bindingConfiguration="GlobalWeatherSoap" contract="wsMeteo.GlobalWeatherSoap" name="GlobalWeatherSoap"/>
      <endpoint address="http://www.webservicex.net/globalweather.asmx" binding="customBinding" bindingConfiguration="GlobalWeatherSoap12" contract="wsMeteo.GlobalWeatherSoap12" name="GlobalWeatherSoap12"/>
      <endpoint address="http://www.webservicex.net/globalweather.asmx" binding="customBinding" bindingConfiguration="GlobalWeatherSoap121" contract="wsMeteo.GlobalWeatherSoap" name="GlobalWeatherSoap121"/>
    </client>
  </system.serviceModel>
</configuration>